# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
.vscode
*feature.cs

# Visual Studio 2015/2017 cache/options directory
.vs/
/Features/Calculator.feature.cs